@charset "UTF-8";
/* Anthony Threlfall - April, 8 2019 */


body {
	padding: 0;
	margin: 0;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 1.8em;
	color: #000;
	background-color: #9CC1C0;
	padding: 0 10px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #111;
	padding: 0 60px;
}
h1 {
	font-size: 30px;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 1em;
	padding: 0 60px;
	margin: 0;
}
h2 {
	font-size: 24px;
	padding: 0 60px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #0034C4;
	margin: 0;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-width: 2px;
	border-bottom-style: inset;
	border-bottom-color: #869E9D;
	padding: 0 60px;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */

a:link {
	font-weight: bold;
	color: #003472;
}
a:visited {
	font-weight: bold;
	color: #045596;
	text-decoration: none;
}
a:hover {
	color: #045596;
}

/* list styles ----------------------------- */
ul li {
	margin-left: 60px;
}

ol {
	margin-left: 80px;
}

ol li {
	padding-left: 0;
}

/* table styles -------------------------------------- */

table {
	margin: 60px;
	border: solid #003472 3px;
}
td {
	
	padding: 6px;
	border: solid #003472 1px;
}

th {
	font-weight: bold;
	background-color: #003472;
	text-align: center;
	padding: 6px;
	border: solid #003472 1px;
}

/* border styles ------------------------------------ */

hr {
	border: solid #869E9D 2px;
}

img {
	border: ridge #869E9D 2px;

}
iframe {
	border: double #869E9D 6px;
	padding: 8px;
	margin: 8px;
}

/* Div style for page layout */

#container
{
	width:950px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;	
}

#header
{
	width:100%;
	background-color: #eee;
	padding: 0 0 30px 0;
	
}

#content
{
	width:100%;
	padding-bottom: 40px;
	clear: both;
}

#content img
{
	margin: 0 60px;
}

#contentsidebar /* content layout in the author section*/
{
	width:600px;
	float: left;
	padding-bottom: 40px;
}
#footer
{
	border-top: 2px solid #869E9D;
	width:100%;
	background-color: #eee;
	padding: 30px 0;
	clear: both;
}

#footer p
{
	margin: 0;
}

#footer table
{
	margin: 0 60px;
}

#sidebar /*for the sidebar in overview*/
{
	width: 300px;
	float: right;
	margin: 0 20px 0 0;
}


#sidebar p
{
	padding: 5px;
	border: double 2px #869E9D;
	box-shadow: 10px 10px 5px #999;
	border-radius: 10px;
	background-color: #eee;
}

#sidebar1 /* for the sidebar in Author*/
{
	width: 300px;
	float: right;
	margin: 50px 40px 0 0;
}

#sidebar1 p
{
	padding: 5px;
	border: double 2px #869E9D;
	box-shadow: 10px 10px 5px #999;
	border-radius: 10px;
	background-color: #eee;
}